<div class="row">
  <div class="large-6 columns">
    <p>Find me in app/views/home/index.html.erb</p>
  </div>
  <div class="large-6 columns">
    <% @shows.each do |show| %>
      <%= debug show %>
    <% end %>
  </div>
</div>
