<div class="row">
  <div class="large-8 columns">
    <h2><%= @page.title %></h2>
    <div id="page-body">
      <%= simple_format @page.body %>
    </div>
    <div class="action">
      <%= link_to "Edit", edit_page_path(@page), class: "button" %>
    </div>
  </div>
  <div class="large-4 columns">
    <p>
    Tiramisu cookie topping candy canes chocolate marshmallow bear claw dessert. Gingerbread bear claw liquorice sweet marshmallow jujubes oat cake chocolate bar soufflé. Liquorice fruitcake lollipop danish pie liquorice donut. Unerdwear.com icing pie toffee carrot cake donut. Macaroon sesame snaps applicake. Bonbon marshmallow danish halvah toffee bonbon candy chocolate cake candy. Donut gummi bears bonbon danish brownie sugar plum gummi bears chocolate bar jelly-o. Gummi bears candy danish tootsie roll lollipop cotton candy jujubes. Jelly-o jelly-o sugar plum danish.
    </p>
    <p>
    Cheesecake cotton candy muffin jelly-o ice cream chocolate cake. Carrot cake lollipop muffin liquorice. Dragée caramels danish bonbon sweet roll. Topping caramels cotton candy macaroon sweet cake marshmallow. Marshmallow biscuit dragée halvah. Gummies lemon drops marshmallow. Lemon drops danish cookie tart tiramisu.
    </p>
  </div>
</div>
