<div class="contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name"></li>
    </ul>
  <% if current_user.is_admin %>
    <section class="top-bar-section">
    <ul class="right">
      <li><%= link_to "New show", new_show_path %></li>
      <li><%= link_to "New page", new_page_path %></li>
      <li><%= link_to "New press item", new_press_item_path %></li>
    </ul>
    </section>
  <% end %>
  </nav>
</div>
